<div class="presentacion-wrapper">

  <div class="col-izquierda">
    <div class="logo-area">
      <span class="logo-icono">LOGO </span>
      <span class="logo-texto">NOMBRE DE LA MARCA</span>
    </div>

<div class="eslogan-area">
  <h1 class="eslogan">Eslogan</h1>

  <div class="mv-bloque">
    <div class="mv-item">
      <span class="mv-label">Misión</span>
      <p class="mv-texto">Brindar una experiencia clara y acompañada que ayude a los estudiantes a organizar su tiempo, reducir el estrés y fortalecer su bienestar académico.</p>
    </div>
    <div class="mv-item">
      <span class="mv-label">Visión</span>
      <p class="mv-texto">Ser una plataforma educativa que convierta la planificación diaria en una herramienta simple, motivadora y accesible para cada estudiante.</p>
    </div>
  </div>

  <button class="btn-registrate" routerLink="/registro">
    Regístrate ahora &raquo;
  </button>
</div>

    <div class="sobre-nosotros">
      <strong>Sobre nosotros</strong>
      <p>Somos un grupo de estudiantes y futuros profesionistas comprometidos con el desarrollo estudiantil.</p>
    </div>
  </div>

  <div class="col-derecha">
    <h2 class="bienvenida">¡BIENVENID@!</h2>
    <p class="sub-bienvenida">¡Qué bueno volverte a ver!</p>

    <button class="btn-iniciar" routerLink="/inicio">
      Iniciar sesión
    </button>

    <div class="tarjeta-noticia">
      <p>Noticias relevantes que sean buenas o datos curiosos alegres.</p>
    </div>
  </div>

</div>