<div class="pagina">
    <div class="logo-area">
       <img src="/iconos/logoMejorAnalisis.png" class="logo-img" alt="Logo">
      <span class="logo-texto">Web-hito</span>
    </div>

    <div class="contenedorAmarillo">
        <div class="paso-badge">Paso 1 de 4</div>
        <h1>Cuéntanos sobre ti</h1>

        <div class="grupo-formulario">
            <label>¿Cuántos años tienes?</label>
            <div class="recuadro-input">
                <input type="number" [(ngModel)]="edad" placeholder="edad">
            </div>
        </div>

<div class="grupo-formulario">
  <label>Nivel académico</label>
  <div class="recuadro-input">
    <select [(ngModel)]="semestre">
      <option value="">Selecciona...</option>
      <option value="1er">1er semestre</option>
      <option value="2do">2do semestre</option>
      <option value="3er">3er semestre</option>
      <option value="4to">4to semestre</option>
      <option value="5to">5to semestre</option>
      <option value="6to">6to semestre</option>
      <option value="7mo">7mo semestre</option>
      <option value="8vo">8vo semestre</option>
      <option value="Posgrado">Posgrado</option>
    </select>
  </div>
</div>

        <div class="grupo-formulario">
            <label>¿Cuáles son tus hobbies?</label>
            <div class="recuadro-input hobbies-grid">
                <label class="hobby-item" *ngFor="let hobby of hobbies">
                    <input type="checkbox" [value]="hobby" (change)="toggleHobby(hobby)">
                    {{ hobby }}
                </label>
            </div>
        </div>

        <div class="grupo-formulario">
            <label>¿Cómo te sientes hoy?</label>
            <div class="emojis-fila">
                <button *ngFor="let e of emociones" class="emoji-btn" [class.seleccionado]="estadoAnimo === e.valor"
                    (click)="estadoAnimo = e.valor">
                    {{ e.emoji }}
                </button>
            </div>
            <div class="barra-emociones">
                <div class="punto-barra" *ngFor="let e of emociones"
                    [class]="estadoAnimo >= e.valor ? 'punto-barra activo-' + e.valor : 'punto-barra'">
                </div>
            </div>
        </div>

    </div>

    <div class="botones-nav">
        <button class="btn-nav" routerLink="/registro">Anterior</button>
        <button class="btn-nav btn-continuar" routerLink="/cuestionario2">Continuar</button>
    </div>
</div>